/* HEADER */
#cabeza {
    background-color: #1d1d1d;
    padding: 3rem 2rem;
    opacity: 1.5;
}

.h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.h {
    font-size: 2rem;
    color: white;
    text-align: center;
}
/* FINAL HEADER */

/* BODY */
#cuerpo {
    background-color: #ffff;
    color: #3a3a3a;
}
/* FINAL BODY */

/* FOOT */
#pie {
    padding: 1rem;
    background-color: #3c2f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#pie a {
    color: white;
}
/* FINAL FOOT */

/* POST */
section article {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 1rem;
    max-width: 400px;
    width: 90%;
    cursor: pointer;
    text-align: center;
}

section article:hover {
    background-color: gainsboro;
}
/* FINAL POST */

/* ESTILO TABLAS */
#tabla {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 2px solid black;
    border-radius: 1px;
}
#tabla th td {
    border: 1px solid black;
}

#tabla th {
    background-color: white;
}

#tabla :nth-child(odd):hover {
    background-color: gainsboro;
}

.precios {
    color: #1a1a1a;
    text-decoration: none;
}
/* FINAL ESTILO TABLAS */